* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CHANGED BACKGROUND COLOR TO GRADIENT IMAGE */

body {
    /* background-color: #8b7f27; */
    background-image: url("../images/gradient_04.jpeg");
    background-size: cover;
}

/* NAV BAR */
.header {
    border-bottom: solid #1f1b1a;
    border-width: 3px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #76b5d4; */
    color: #1f1b1a;
}

/* WELCOME TITLE */
.header h1 {
    display: inline-block;
    font-size: 45px;
    margin-left: 45px;
}

/* NAVIGATION BAR */
.header nav {
    padding-top: 15px;
    margin-right: 45px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    text-align: justify
        /* margin-left: 25px; */
}

a {
    color: #1f1b1a;
    text-decoration: none;
}

/* CUSTOMIZED HERO IMAGE  */
.hero {
    position: relative;
    margin: 0%;
    height: 585px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/header-image-4.png");
    background-size: cover;
    background-position: center;
}

/* LEFT MARGIN TEXT */
.margin-text {
    /* border-right: solid #1f1b1a; */
    border-width: 3px;
    text-align: justify;
    padding: 60px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 2rem;
    color: #1f1b1a;
    padding: 1 rem;
}

/* ABOUT ME CONTAINER */
.column {
    display: flex;
    flex-wrap: wrap;
    /* align-items:center; */
    /* justify-content: center; */
    flex-direction: row;
    align-content: flex-start;
    padding: 10px;
    padding-right: 20%
    /* margin-left: 23rem; */

}

.column {
    /* min-height: 20vh; */
    margin:4vh auto;
    display: flex;
    justify-content: first baseline;
    padding-left: 11%;
    padding-right: 25%;

}

/* CONTAINER FOR ALL WORK */
.container {
    min-height: 5vh;
    margin: 5vh auto;
    display: flex;
    justify-content: first baseline;
}

/* WORK IMAGE CARDS */
.skills {
    flex: 4;
    /* background-color: #8b7f27; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    padding: 10px;
    padding-right: 15%;
    margin-left: 7rem;

}

.card {
    /* border-style: solid; */
    border-width: 1px;
    /* border-radius: 50px; */
    padding: 10px;
    flex: 0 0 480px;
    margin: 5px;

}

.card header {
    /* border-radius: 50px 50px 0px 0px; */
    padding: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f1b1a;
    font-size: 18px
}

.card img {
    /* height: 100%; */
    width: 100%;
    /* border-radius: 10%; */

}

/* FLEX CONTAINERS */

.flex {
    display: flex;
    align-items: self-start;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
}

.margin-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

/* .margin-top {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
} */

/* FOOTER!!! */

.flex-footer {
    display: flex;
    align-items: center;
}

.row-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text {
    text-align: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.footer-flex {
    flex: 1 1;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}


#textContainer {
    font-size: 6vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    padding: 0%;

}

#top {
    margin-top: 5px;
}

ul {
    list-style: none;
}